body {
  background-color: #111111;
  margin: 0px;
  font-family: Tahoma;
  font-size: 12pt;
  color: #CC00AA;
}

::selection {
  background-color: none;
  color: yellow;
}

::-moz-selection {
  background-color: none;
  color: yellow;
}

::-webkit-scrollbar {
    display: none;
}

h3 {
  text-align: center;
  margin-top: 25px;
}

#signupdiv {
  margin-top: 50px;
  width: 49vw;
  display: inline-block;
  padding: 0px;
  vertical-align: top;
}

#signupform {
  float: right;
}

.boop {
  width: 10vw;
  min-width: 200px;
  display: block;
}

input[type='text'] {
  color: #AAAAAA;
  background-color: #444444;
  padding: 10px;
  display: block;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}

input[type='password'] {
  color: #AAAAAA;
  background-color: #444444;
  padding: 10px;
  display: block;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}

input[type='email'] {
  color: #AAAAAA;
  background-color: #444444;
  padding: 10px;
  display: block;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}

input[type='file'] {
  padding: 10px;
  display: block;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}

#signupbutton {
  border-radius: 5px;
  color: #CC00AA;
  background-color: #660044;
  padding: 10px;
  border: 0;
  display: block;
  margin-top: 5px;
}

#signupbutton:hover {
  color: yellow;
  background-color: #CC00AA;
}

#signupbutton:disabled {
  color: #CCCCCC;
  background-color: #888888;
}

#intro {
  display: inline-block;
  padding: 0px;
  margin-top: 50px;
  width: 49vw;
  float: right;
  text-align: left;
}

#intro p {
  width: 10vw;
  min-width: 200px;
  display: block;
}

.error {
  color: red;
}
